.klikalnyObszar {
position: absolute;
}
.klikalnyObszar.area:hover {
cursor: pointer;
}

/* Styl dla informacji dodatkowych */
.informacjeDodatkowe {
position: absolute;
top: 20%;
left: 100%;
width: calc(100% - 60px); 
padding: 10px;
background-color: #edeff2;
color: #asdf;
height: 400px;
display: none;
overflow: auto; 
}
