/* Dodaj odstęp od lewej krawędzi dla formularza */
.form-container {
    padding-left: 2px;
    width: 100%; /* Ogranicz maksymalną szerokość formularza do 600px */
    margin: 0 auto; /* Możesz dostosować wartość odstępu do swoich potrzeb */
}
@media (max-width: 640px) {
    .form-container {
        max-width: 100%; /* Na mniejszych ekranach formularz będzie zajmował całą dostępną szerokość */
    }
}