

.polisja-logo {
  position: relative; /* Ustaw pozycję na relative, aby umożliwić .grid-container nałożenie się na niego */
  width: 30%;
  
}

.polisja-logo img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.grid-container {
  position: absolute; /* Dodaj pozycję absolute dla .grid-container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding-bottom: 2em;
}

.grid-container a {
  display: flex; /* Ustawienie flex dla linków wewnątrz .grid-container */
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
}
.informacjeDodatkowe {
  display: none;
  position: absolute;
  width: 150%;
  height: 70%;
  top: 4em;
  left:130%;
  background-color: rgba(60, 59, 59, 0);
  color: rgb(43, 49, 45);
  padding: 2em;
  z-index: 1;
  font-size:medium;
}

@media (min-width: 320px) { /* Dla ekranów o szerokości do 320px (np. iPhone SE) */
  .grid-container {
  grid-gap: 1em;
  padding-bottom: 0.7em;
  }
  
  
  
}
@media (min-width: 375px) { /* Dla ekranów o szerokości do 320px (np. iPhone XR) */
  .grid-container {
  grid-gap: 1.2em;
  padding-bottom: 0.8em;
  }
  
}@media (min-width: 425px) { /* Dla ekranów o szerokości do 320px (np. iPhone S) */
  .grid-container {
  grid-gap: 1.1em;
  padding-bottom: 0.8em;
  }
  
}
@media (min-width: 530px) { /* Dla ekranów o szerokości do 320px (np. iPhone SE) */
  .grid-container {
  grid-gap: 1.1em;
  padding-bottom: 1.5em;
  }
  
}
@media (min-width: 765px) { /* Dla ekranów o szerokości do 320px (np. iPhone SE) */
  .grid-container {
  grid-gap: 1.5em;
  padding-bottom: 2em;
  }
  
}
@media (min-width: 1024px) { /* Dla ekranów o szerokości do 320px (np. iPhone SE) */
  .grid-container {
  grid-gap: 2em;
  padding-bottom: 3em;
  }
  .mapa {
    width: 50%;
  }
  
}
@media (max-width: 1024px) { /* Dla ekranów o szerokości do 320px (np. iPhone SE) */
  .body {
    padding-top: 0px;
  }
  html.no-page-top body > .body {
    padding-top: 0px;
  }
  #header .logo {
    background: none;
    border-bottom: none;
    border-radius: initial;
    color: initial;
    display: initial;
    float: none;
    height: initial;
    margin: initial;
    padding: initial;
    transition: initial;
    z-index: initial;
  }
  .informacjeDodatkowe {
    display: none;
    position: absolute;
    width: 150%;
    height: 70%;
    top: 2.5em;
    left:130%;
    background-color: rgba(60, 59, 59, 0);
    color: rgb(43, 49, 45);
    padding: 1em;
    z-index: 1;
    font-size: 0.5em;
  }
}
@media (max-width: 450px) { 
  .informacjeDodatkowe {
    display: none;
    position: absolute;
    width: 150%;
    height: 70%;
    top: 1.5em;
    left:130%;
    background-color: rgba(60, 59, 59, 0);
    color: rgb(43, 49, 45);
    padding: 1em;
    z-index: 1;
    font-size:0.3em;
  }
  
}




    .grid-container img {
    /* pozostałe style, które już są */
    transition: transform 0.2s;
}

.informacjeDodatkowe {
    /* pozostałe style, które już są */
    display: none;
    transition: opacity 1.8s;
}
section.call-to-action.footer {
    margin: 10px 0 40px;
}
.kontakt .push-top {
  margin-top: 0px;
}
.webdesing  {
  background-color: #fff;
}
section.highlight.footer {
  margin: 0px 0 -70px;
}
.webdesing {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
.read {
  background-color: #fff;
  padding-top:50px;
}
.read .container {
  margin-top: 20px;
  padding-top: 20px;
}

