
	.outer-container {
  position: absolute;
  transform: scale(0.3);
  display: inline-block;
  left: 610px;
  top: -55px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 65px;
}

.grid-container img {
  width: 50%;
  height: auto;
  left: 1px;
  transition: transform 0.2s, filter 0.2s;
}

.autopolisa {

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto
}

.biuropolisa {
  margin-top: -14px;
 margin-left: auto;
  margin-right: auto
}

.sercepolisa {
  margin-top: 20px;
 margin-left: auto;
  margin-right: auto
}

.dompolisa {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto
}

/* Poprawione style dla linków */
.autopolisa,
.biuropolisa,
.sercepolisa,
.dompolisa {
  display: inline-block;
  text-decoration: none;
}

.autopolisa img,
.biuropolisa img,
.sercepolisa img,
.dompolisa img {
  width: 100%;
  height: auto;
}

/* Zaznaczenie linków po najechaniu */
.autopolisa:hover,
.biuropolisa:hover,
.sercepolisa:hover,
.dompolisa:hover {
  transform: scale(1.1);
}
.polisja-logo {
    position: relative;
    left: 54%;
    width: 30%;
}

.informacjeDodatkowe {
    display: none;
    position: absolute;
    width: 550px;
    height: 250px;
    top: 50px;
    left:100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    z-index: 1;
}
    .grid-container img {
    /* pozostałe style, które już są */
    transition: transform 0.2s;
}

.informacjeDodatkowe {
    /* pozostałe style, które już są */
    display: none;
    transition: opacity 1.8s;
}
section.call-to-action.footer {
    margin: 10px 0 40px;
}
.kontakt .push-top {
  margin-top: 0px;
}
.webdesing  {
  background-color: #fff;
}
section.highlight.footer {
  margin: 0px 0 -70px;
}
.webdesing {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
.read {
  background-color: #fff;
}
.read .container {
  margin-top: 20px;
  padding-top: 20px;
}

