  /* Dodaj odpowiednie style dla zdjęć i kontenera */
  .animated-img {
    transition: transform 0.5s, opacity 0.5s;
    cursor: pointer;
  }

  .information {
    display: none;
    transition: opacity 0.5s;
  }

  .grid-container:hover .animated-img {
    animation: rotateIcon 6s linear infinite;
  }

  @keyframes rotateIcon {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
  }

  .grid-container:hover .information {
    display: block;
    opacity: 1;
  }