{% block siteMapOnFooter %}
    <div class="col-md-3">
        <h4>Polisja Wyszukiwarka Ubezpieczeń</h4>
        <ul class="nav nav-list primary push-bottom">
            <li><a href="{{path('app_car')}}">Jeździj śmiało z Polisją</a></li>
            <li><a href="{{path('app_property')}}">Ubezpiecz nieruchomość z Polisją</a></li>
            <li><a href="{{path('app_health')}}">Bądź biezpieczny z Polisją</a></li>
            <li><a href="{{path('app_business')}}">Bądź biezpieczny za swoje investycje z Polisją</a></li>
        </ul>
    </div>
{% endblock %}