{% block siteMapOnFooter %}
    <div class="col-md-3">
        <h4>Polisja Wyszukiwarka Ubezpieczeń</h4>
        <ul class="nav nav-list primary push-bottom">
            <li><a href="{{path('app_car')}}">Ubezpieczenie samochodu</a></li>
            <li><a href="{{path('app_property')}}">Ubezpieczenie nieruchomości</a></li>
            <li><a href="{{path('app_health')}}">Ubezpieczenie na życie</a></li>
            <li><a href="{{path('app_business')}}">Ubezpieczenie działalności </a></li>
        </ul>
    </div>
{% endblock %}